[submodule "Core"]
	path = Core
	url = https://github.com/DJDQfff/EroMangaManager.Core.git
[submodule "Database"]
	path = Database
	url = https://github.com/DJDQfff/EroMangaManager.Database.git
[submodule "WinApp"]
	path = WinApp
	url = https://github.com/DJDQfff/EroMangaManager.WinApp.git
[submodule "UnoApp"]
	path = UnoApp
	url = https://github.com/DJDQfff/EroMangaManager.UnoApp.git
[submodule "Server"]
	path = Server
	url = https://github.com/DJDQfff/EroMangaManager.Server.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/DJDQfff/EroMangaManager.Tools.git
[submodule "EroMangaManager.UnoLibrary"]
	path = UnoLibrary
	url = https://github.com/DJDQfff/EroMangaManager.UnoLibrary.git
