<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="59570DJDQfff.121076A95F8D5"
    Publisher="CN=457EFD62-D91C-4992-872B-0F5CE97FDC67"
    Version="2023.4.23.0" />

  <mp:PhoneIdentity PhoneProductId="0d93a9bc-1be7-4af7-8fb1-080589a742e1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:/Appxmanifest/AppDisplayName</DisplayName>
    <PublisherDisplayName>DJDQfff</PublisherDisplayName>
    <Logo>Assets\AppImage\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="EroMangaManager.UWP">
      <uap:VisualElements
        DisplayName="ms-resource:/Appxmanifest/AppDisplayName"
        Square150x150Logo="Assets\AppImage\Square150x150Logo.png"
        Square44x44Logo="Assets\AppImage\Square44x44Logo.png"
        Description="ms-resource:/Appxmanifest/Description"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppImage\Wide310x150Logo.png" Square71x71Logo="Assets\AppImage\SmallTile.png" Square310x310Logo="Assets\AppImage\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\AppImage\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mangabook">
            <uap:SupportedFileTypes>
              <uap:FileType>.zip</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ms-resource:/Appxmanifest/ZipComic</uap:DisplayName>
            <uap:InfoTip>ms-resource:/Appxmanifest/OpenAsAZipComic</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <uap:Capability Name="picturesLibrary"/></Capabilities>
</Package>